{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#{{ uf }}").attr('selected', 'selected'); }
        );
    </script>
{% endblock %}

{% block title %}{{ _("Sugira monumentos") }}{% endblock %}

{% block navbar %}
    {% with lang=lang, username=username, mapa_geral=True, mapa=True, geolocate=True, uf=uf, suggest=False %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block banner %}
    {% include 'langmodal.html' %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    <a href="#" class="close custom-link" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="w3-row" style="padding:30px 10px; ">
        <div class="w3-quarter">&nbsp;</div>
        <div class="w3-container w3-half">
            <div class="w3-row" style="padding-bottom: 30px">
                {{ _('Utilize o formulário abaixo para sugerir monumentos que não estejam nos mapas ou nas
                listas do Wiki Loves Monuments Suriname.') }}
            </div>
            <form method="POST" role="form">
                <div class="w3-row form-group">
                    <label for="inputName">{{ _('Qual o nome do monumento? <sup style="color:#990000">*</sup>') }}</label>
                    <input type="text" class="form-control" name="inputName" id="inputName"
                           style="width: 100%; font-size: 90%"
                           placeholder="{{ _('Digite o nome do monumento') }}" required>
                </div>
                <div class="w3-row form-group">
                    <label for="inputState">{{ _('Em qual distrito está localizado? <sup style="color:#990000">*</sup>') }}</label>
                    <select class="form-control" name="inputState" id="inputState" required style="font-size: 90%">
                        <option value="">{{ _('Selecione um distrito') }}</option>
                        <option id="br" value="br">{{ _('Brokopondo') }}</option>
                        <option id="cm" value="cm">{{ _('Commewijne') }}</option>
                        <option id="cr" value="cr">{{ _('Coronie') }}</option>
                        <option id="ma" value="ma">{{ _('Marowijne') }}</option>
                        <option id="ni" value="ni">{{ _('Nickerie') }}</option>
                        <option id="pr" value="pr">{{ _('Para') }}</option>
                        <option id="pm" value="pm">{{ _('Paramaribo') }}</option>
                        <option id="sa" value="sa">{{ _('Saramacca') }}</option>
                        <option id="si" value="si">{{ _('Sipaliwini') }}</option>
                        <option id="wa" value="wa">{{ _('Wanica') }}</option>
                    </select>
                </div>
                <div class="w3-row form-group">
                    <label for="inputLocal">{{ _('Em qual(is) município(s) está localizado? <sup style="color:#990000">*</sup>') }}</label>
                    <input type="text" class="form-control" name="inputLocal" id="inputLocal"
                           style="width: 100%; font-size: 90%"
                           placeholder="{{ _('Digite o nome do município') }}" required>
                </div>
                <div class="w3-row form-group">
                    <label for="inputAddress">{{ _('Você sabe o endereço?') }}</label>
                    <input type="text" class="form-control" name="inputAddress" id="inputAddress"
                           placeholder="{{ _('Digite o endereço') }}" style="width: 100%; font-size: 90%">
                </div>
                <div class="w3-row form-group">
                    <label for="inputAddress">{{ _('Link para referência sobre o monumento: <sup style="color:#990000">*</sup>') }}</label>
                    <input type="url" class="form-control" name="inputURL" id="inputURL"
                           placeholder="{{ _('Insira a URL de referência') }}" style="width: 100%; font-size: 90%" required>
                </div>
                <div class="w3-row form-group">
                    <label for="inputComments">{{ _('Algum comentário sobre o monumento?') }}</label>
                    <textarea class="form-control" name="inputComments" id="inputComments" rows="3"
                              style="width: 100%; font-size: 100%"></textarea>
                </div>
                <input type="submit" class="btn custom btn-primary" style="float: right; width: 100%"
                       value="{{ _('Enviar sugestão') }}">
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{#    <footer style="text-align:left;position: relative;padding: 0px 15px 0px 15px" id="footer">#}
{#        <hr>#}
{#        <p style="font-size:90%; text-align: justify">#}
{#            {% set projeto %}<a tabindex="0" target='_blank' aria-label='{{_("Wiki Movimento Brasil")}}' href='https://meta.wikimedia.org/wiki/Wiki_Movement_Brazil_User_Group/{{ lang }}'>{{_("Grupo de usuários Wiki Movimento Brasil")}}</a>{% endset %}#}
{#            {{_("<i>Wiki Loves Brasil</i> é um aplicativo desenvolvido pelo <i><b>%(projeto)s</b></i>.", projeto=projeto)}}#}
{#        </p>#}
{#    </footer>#}
{% endblock %}