<nav class="topnav" id="topnavbar">
    <a tabindex="0" id="home" href="{{url_for('mapa')}}" class="active custom-link">{{_("Mapa Geral")}}</a>
    <a tabindex="0" id="about" href="{{url_for('about')}}">{{_("Sobre")}}</a>
{#    {% if mapa_geral %}#}
{#        <a tabindex="0" id="mapa_geral" href="{{url_for('mapa')}}">{{_("Mapa geral")}}</a>#}
{#    {% endif %}#}
{#    {% if mapa %}#}
{#        <a tabindex="0" id="mapa_nav" href="{{url_for('mapa_uf', uf=uf)}}">{{_("Mapa")}}</a>#}
{#    {% endif %}#}
{#    {% if geolocate %}#}
{#        <a tabindex="0" id="geolocalizar" href="{{url_for('geolocate', uf=uf)}}">{{_("Geolocalizar")}}</a>#}
{#    {% endif %}#}
{#    {% if suggest %}#}
{#        <a tabindex="0" id="sugerir" href="{{url_for('suggest', uf=uf)}}">{{_("Sugerir")}}</a>#}
{#    {% endif %}#}
{#    <select class="right" onchange="location.href=this.value">#}
{#        <option value="#" disabled selected>#}
{#            {{ AVAILABLE_LANGUAGES.items()["{{ lang }}]}}#}
{#        </option>#}
{#        {% for lang_code, lang_name in AVAILABLE_LANGUAGES.items() %}#}
{#            <option value="{{ url_for('set_locale', return_to=request.script_root + request.full_path, lang=lang_code) }}">#}
{#                {{ lang_name }}#}
{#            </option>#}
{#        {% endfor %}#}
{#    </select>#}
    <a class="right" tabindex="0" onclick="$('#langModal').modal('show');" style="cursor: pointer">
        <i class='fa-solid fa-language'></i> {{ _("Idioma") }}
    </a>
    {% if username %}
        <a class="right" tabindex="0" target="_blank" href="https://commons.wikimedia.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% else %}
        <a class="right" tabindex="0" href="{{ url_for('login', next=request.script_root + request.full_path) }}">{{ _("Autenticar-se")}}</a>
    {% endif %}
    <a tabindex="0" id="menu" href="javascript:void(0);" class="icon" onclick="menuFunction()" aria-label='{{_("Menu")}}'><i class="fa fa-bars"></i></a>
</nav>